$top-nav-height: 70px;
$analytics-nav-height: 145px;
$left-nav-width: 75px;
$right-nav-width: 340px;
$std-container-box-shadow: 0 0 5px rgba(0, 0, 0, .32);
$color_fuksiya: #8D1843;
$main-tabs: 70px;
$std-container-padding:18px;