.mad-logo-uploader {
  width: 75px;
  height: 75px;
  margin-right: 20px;

  input[type="file"] {
    display: none;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
  }

  //osnovnoe logo
  & img:first-child {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover &__remove {
    display: inline-block;
  }

  &__remove {
    // display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}